* {
  padding: 0;
  box-sizing: border-box;
}
 
:root {
  --text-color: white; 
  --bg-url: url(./Assets/assets/bg-mobile.jpg);
  --stroke-color:  rgba(9, 86, 202, 0.741);
  --surface-color: rgba(29, 96, 147, 0.741);
  --surface-color-hover: rgba(31, 37, 46, 0.741);
  --highlight-color: red;
  --switch-bg-url: url(Assets/moon-star.svg)

}

 .light {
  --text-color: black;
  --bg-url: url(./Assets/assets/bg-mobile-light.jpg);
  --stroke-color:  rgb(36, 176, 36); 
  --surface-color: rgba(9, 38, 143, 0.524);
  --surface-color-hover: rgb(20, 63, 172);
  --highlight-color: rgb(37, 191, 10); 
  --switch-bg-url: url(Assets/sun.svg)

} 

body {
  background: var(--bg-url) no-repeat top center/cover; 
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color)
   }

   #container {
    width: 469px;
    margin: 56px auto 0px;
    padding: 47px;
    }

  #profile {
   text-align: center; 
   padding: 25px; 
  }
    
  #profile img {
    width: 150px;
  }

  #profile p {
font-weight: 600;
line-height: 25px;
margin-top: 24px;
  }

 #switch {
  position: relative;
  width: 65px;
  margin: 4px auto;  
  transform: translateY(-15px);
 }

 #switch button {
  width:  35px;
  height: 35px;
  background:white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  transform: translateY(-5px);
 }

 .light #switch button {
  right: 0;
  left: initial;
 }

 #switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 999px;
 }

   ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

  ul li a { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 1px;

   background: var(--surface-color); 
   border: 2px solid var(--stroke-color);
   border-radius: 17px;
   backdrop-filter: blur(50px);

  text-decoration: none;
  font-weight: 500;

  transition: background 1s;
                                            }

 ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid rgba(46, 36, 31, 0.741);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px;

  font-size: 40px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: 0,5s;
}

#social-links a:hover {
  background-color: var(--highlight-color);
  
}

                                          

 
 
  